<!DOCTYPE html>
<html>
<head>
    <title>Ruby on Rails Tutorial Sample App | ly3</title>
    <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/assets/custom.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/assets/microposts.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/assets/scaffolds.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/assets/static_pages.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/assets/users.css?body=1" media="all" rel="stylesheet" />
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/microposts.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/static_pages.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/users.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="W3H0gq6lxeUxvD1wYj6evd8ZmSxdz1RI6PwPv8g1yyk=" name="csrf-token" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" id="logo">sample app</a>
            <nav>
                <ul class="nav pull-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="#">Sign in</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="container">
    <div class="alert alert-success"欢迎来到我们的世界！</div>
    <div class="alert alert-notice"User was successfully created.</div>

    <div class="row">
        <aside class="span4">
            <section>
                <h1>
                    <img alt="ly3" class="gravatar" src="https://secure.gravatar.com/avatar/45cc0f654f66e4d7792b826f540dc157" />
                    ly3
                </h1>
            </section>
        </aside>
    </div>


    <footer class="footer">
        <small>
            <a href="http://railstutorial.org/">Rails Tutorial</a>
            by Michael Hartl
        </small>

        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="http://news.railstutorial.org/">News</a></li>
            </ul>
        </nav>
    </footer>
  <pre class="debug_dump">--- !ruby/hash:ActionController::Parameters
    action: show
    controller: users
    id: &#39;5&#39;
    </pre>
</div>
</body>
</html>